<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> <!-- 라임리프기반HTML템플릿 중 sec태그 사용하기 위한것 -->
<head>
    <meta charset="UTF-8">
    <title>Stack Over Flow</title>
</head>
<body>
<div align="right" th:fragment="header">
    <a href="/members/save-form" class="text-decoration-none">회원가입</a> |
    <span sec:authorize="isAuthenticated()"> <!-- 인증성공 -->
                <span sec:authorize="hasRole('USER')">  <!-- 특정 Role을 가진 사용자에게만 표시 -->
                    <a href="/members/my-page" class="text-decoration-none">마이페이지</a> |
                </span>
                <a href="/logout" class="text-decoration-none">로그아웃</a>  <!--로그아웃(href는 securityconfigration의 값과 같아야 함) -->
                <span th:text="${#authentication.name}">홍길동</span>님  <!-- 로그인시 사용한 사용자명 -->
            </span>

    <span sec:authorize="!isAuthenticated()"> <!-- 로그인됨 -->
                <a href="/auths/login-form" class="text-decoration-none">로그인</a>
            </span>
</div>
</body>
</html>